@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var linkUrl = Model.Content.Value<string>("linkUrl") ?? null;
}

<div class="clickable-dynamic-container">
    <a href="@linkUrl" class="content">
        @await Html.GetBlockGridItemAreasHtmlAsync(Model)
    </a>
</div>
