@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

@{
    var linkText = Model?.Content.Value<string>("linkText") ?? null;
    var linkUrl = Model?.Content.Value<string>("linkUrl") ?? null;
}

@if(!string.IsNullOrEmpty(linkText)) {
    <a href="@linkUrl" title="@linkText" @Html.Raw(targetAttribute)>@linkText</a>
}