@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.PropertyEditors.ValueConverters;

@{
    //sektionstitel
    var sectionTitle = Model?.Content.Value<string>("sectionTitle") ?? "";
    var sectionId = sectionTitle?.ToString().ToLower().Trim().Replace(" ", "-");

    //formatting
    var spacingTopClass = (Model!.Content.Value<bool>("addSpaceToTop")) ? "spacing-top" : "";
    var spacingBottomClass = (Model!.Content.Value<bool>("addSpaceToBottom")) ? "spacing-bottom" : "";
    var centerContentClass = (Model!.Content.Value<bool>("centerContentOnPage")) ? "center" : "";

    //custom dynamisk formatting
    var customSpacingTop = Model?.Content.Value<int>("customAddSpaceToTop") ?? 0;
    var customSpacingBottom = Model?.Content.Value<int>("customAddSpaceToBottom") ?? 0;

    var customSpacingTopClass = customSpacingTop > 0 ? $"custom-spacing-top-{customSpacingTop}" : null;
    var customSpacingBottomClass = customSpacingBottom > 0 ? $"custom-spacing-bottom-{customSpacingBottom}" : null;


    //bakgrundsfärg
    var sectionBackgroundColorLabel = Model?.Content.Value<ColorPickerValueConverter.PickedColor>("sectionBackgroundColor")?.Label.ToLower() ?? null;
    var backgroundColorClass = (!string.IsNullOrEmpty(sectionBackgroundColorLabel) && sectionBackgroundColorLabel != "none") ? $"bg-{sectionBackgroundColorLabel}" : "";

    //bakgrundsbild
    var sectionBackgroundImage = Model?.Content.Value<IPublishedContent>("sectionBackgroundImage")?.Url() ?? null;
}

<section id="@sectionId" class="@backgroundColorClass @customSpacingTopClass @customSpacingBottomClass">

    @if(!string.IsNullOrEmpty(backgroundColorClass))
    {
        <div class="@backgroundColorClass"></div>
    }

    <div class="@centerContentClass @spacingTopClass spacingBottomClass">

        @if(!string.IsNullOrEmpty(sectionBackgroundImage))
        {
            <img class="background-image" src="@sectionBackgroundImage" alt="@sectionTitle background image" />
        }

        @await Html.GetBlockGridItemAreasHtmlAsync(Model)
    </div>
</section>