@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.btn-theme, .btn-subtheme, .btn-dark {
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border: none;
}
.btn-theme:hover, .btn-subtheme:hover, .btn-dark:hover {
  text-decoration: none;
}

.btn-round {
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  padding: 8px 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 50%;
  display: flex;
  padding: 1rem;
}
.btn-round:hover {
  text-decoration: none;
}

.custom-spacing-top-1 {
  padding-top: 1rem;
}

.custom-spacing-top-2 {
  padding-top: 2rem;
}

.custom-spacing-top-3 {
  padding-top: 3rem;
}

.custom-spacing-top-4 {
  padding-top: 4rem;
}

.custom-spacing-top-5 {
  padding-top: 5rem;
}

.custom-spacing-top-6 {
  padding-top: 6rem;
}

.custom-spacing-top-7 {
  padding-top: 7rem;
}

.custom-spacing-top-8 {
  padding-top: 8rem;
}

.custom-spacing-top-9 {
  padding-top: 9rem;
}

.custom-spacing-top-10 {
  padding-top: 10rem;
}

.custom-spacing-bottom-1 {
  padding-bottom: 1rem;
}

.custom-spacing-bottom-2 {
  padding-bottom: 2rem;
}

.custom-spacing-bottom-3 {
  padding-bottom: 3rem;
}

.custom-spacing-bottom-4 {
  padding-bottom: 4rem;
}

.custom-spacing-bottom-5 {
  padding-bottom: 5rem;
}

.custom-spacing-bottom-6 {
  padding-bottom: 6rem;
}

.custom-spacing-bottom-7 {
  padding-bottom: 7rem;
}

.custom-spacing-bottom-8 {
  padding-bottom: 8rem;
}

.custom-spacing-bottom-9 {
  padding-bottom: 9rem;
}

.custom-spacing-bottom-10 {
  padding-bottom: 10rem;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}
body {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

*, *::before, *::after {
  /*    box-sizing: border-box;
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);*/
}

html, body, section, div, header, footer, main, aside, nav, blockquote {
  margin: 0;
  padding: 0;
}

img, svg {
  vertical-align: middle;
}

a {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
}
a:hover {
  text-decoration: underline;
}

.active {
  color: var(--color-subtheme) !important;
}

.wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
@media (min-width: 1024px) {
  .wrapper {
    grid-template-rows: auto auto 1fr auto;
  }
}

.container {
  box-sizing: border-box;
  /*position: relative;*/
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  /*position: relative;*/
  overflow: hidden;
  width: 100%;
}

h1 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 40px !important;
}

h2 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 32px !important;
}

h3 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 28px !important;
}

h4 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 24px !important;
}

h5 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 20px !important;
}

h6 {
  margin: 0;
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 16px !important;
}

blockquote {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

.quotation-spacing-top {
  /*@include quotation;*/
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .quotation-spacing-top {
    /*padding-top: .5rem;*/
  }
}
.quotation-spacing-bottom {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .quotation-spacing-bottom {
    /*padding-top: .5rem;*/
  }
}
/*.headline-spacing-top {
    padding-top: .5rem;

    @include lg {
        padding-top: 1rem;
    }
}

.headline-spacing-bottom {


    @include lg {
        padding-bottom: 1rem;
    }
}*/
.section-spacing-top {
  padding-top: 2rem;
}
@media (min-width: 1024px) {
  .section-spacing-top {
    padding-top: 2rem;
  }
}
@media (min-width: 1200px) {
  .section-spacing-top {
    padding-top: 3rem;
  }
}
@media (min-width: 1400px) {
  .section-spacing-top {
    padding-top: 4rem;
  }
}

.section-spacing-bottom {
  padding-bottom: 2rem;
}
@media (min-width: 768px) {
  .section-spacing-bottom {
    padding-bottom: 3rem;
  }
}
@media (min-width: 1024px) {
  .section-spacing-bottom {
    padding-bottom: 4rem;
  }
}

.spacing-top {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .spacing-top {
    padding-top: 2rem;
  }
}

.spacing-bottom {
  padding-bottom: 1rem;
}
.background-image {
  display: none;
}
@media (min-width: 1024px) {
  .background-image {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

/*.custom-spacing-top-1 {
    padding-top: 1rem;
} 
.custom-spacing-top-2 {
    padding-top: 2rem;
} 
.custom-spacing-top-3 {
    padding-top: 3rem;
} 
.custom-spacing-top-4 {
    padding-top: 4rem;
} 
.custom-spacing-top-5 {
    padding-top: 5rem;
} 
.custom-spacing-top-6 {
    padding-top: 6rem;
} 
.custom-spacing-top-7 {
    padding-top: 7rem;
} 
.custom-spacing-top-8 {
    padding-top: 8rem;
} 
.custom-spacing-top-9 {
    padding-top: 9rem;
} 
.custom-spacing-top-10 {
    padding-top: 10rem;
}



.custom-spacing-bottom-1 {
    @include generate-spacing-classes("bottom", 1);
}

.custom-spacing-bottom-2 {
    @include generate-spacing-classes("bottom", 2);
}

.custom-spacing-bottom-3 {
    @include generate-spacing-classes("bottom", 3);
}

.custom-spacing-bottom-4 {
    @include generate-spacing-classes("bottom", 4);
}

.custom-spacing-bottom-5 {
    @include generate-spacing-classes("bottom", 5);
}

.custom-spacing-bottom-6 {
    @include generate-spacing-classes("bottom", 6);
}

.custom-spacing-bottom-7 {
    @include generate-spacing-classes("bottom", 7);
}

.custom-spacing-bottom-8 {
    @include generate-spacing-classes("bottom", 8);
}

.custom-spacing-bottom-9 {
    @include generate-spacing-classes("bottom", 9);
}

.custom-spacing-bottom-10 {
    @include generate-spacing-classes("bottom", 10);
} */
:root {
  --color-default: #535656;
  --color-white: #FFFFFF;
  --color-dark: #171717;
  --color-theme: #4F5955;
  --color-subtheme: #D9C3A9;
  --color-accent: #F2EDDC;
  --color-gray: #F7F7F7;
  /*    --color-gray-000: #FFFFFF;
      --color-gray-100: #F3F6FF;
      --color-gray-200: #EFF2FC;
      --color-gray-300: #E2E5F1;
      --color-gray-400: #D4D7E5;
      --color-gray-500: #B4B7C9;
      --color-gray-600: #9397AD;
      --color-gray-700: #565973;
      --color-gray-800: #33354D;*/
  --color-gray-900: #0B0F19;
  --color-danger: #F5D7DA;
  --color-danger-dark: #EF4444;
  --color-success: #bcf7d2;
  --color-warning: #ffe8ad;
  --color-warning-dark: #FDDA0D;
  --color-info: #cfdefd;
}

/*
:root.dark {
    --color-gray-000: #0B0F19;
    --color-gray-100: #33354D;
    --color-gray-200: #565973;
    --color-gray-300: #9397AD;
    --color-gray-400: #B4B7C9;
    --color-gray-500: #D4D7E5;
    --color-gray-600: #E2E5F1;
    --color-gray-700: #EFF2FC;
    --color-gray-800: #F3F6FF;
    --color-gray-900: #FFFFFF;
    --color-white: #FFFFFF;
    --color-dark: #000000;
    --color-theme: #6366F1;
    --color-danger: #F5D7Da;
    --color-danger-dark: #EF4444;
    --color-success: #bcf7d2;
    --color-warning: #ffe8ad;
    --color-warning-dark: #FDDA0D;
    --color-info: #cfdefd;
    --font-standard: "Manrope". sans-serif;
}*/
body {
  color: var(--color-default);
}

span {
  color: var(--color-subtheme);
}

a {
  color: var(--color-theme);
}
a:hover {
  color: var(--color-theme);
}

.nav-link {
  color: var(--color-dark);
}

.btn-theme {
  background-color: var(--color-theme);
  color: var(--color-white);
}
.btn-theme:hover {
  background-color: var(--color-subtheme);
  color: var(--color-dark);
}

.btn-subtheme {
  background-color: var(--color-subtheme);
  color: var(--color-dark);
}
.btn-subtheme:hover {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.btn-dark {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.btn-dark:hover {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.btn-round {
  color: var(--color-dark);
}
.btn-round:hover {
  background-color: var(--color-subtheme);
  color: var(--color-dark);
}

h1, h2, h4, h5 {
  color: var(--color-theme);
}

h3, h6 {
  color: var(--color-subtheme);
}

.headline-theme {
  color: var(--color-theme);
}

.headline-subtheme {
  color: var(--color-subtheme);
}

.split-heading-color {
  color: var(--color-subtheme);
  outline: #000000;
}

.bg-theme {
  background-color: var(--color-theme);
}
.bg-theme .btn-theme {
  border: solid var(--color-dark) 1px;
}
.bg-theme .btn-dark:hover {
  background-color: var(--color-subtheme);
  color: var(--color-dark);
}
.bg-theme .btn-subtheme:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.bg-theme .btn-round {
  background-color: var(--color-dark);
}
.bg-theme .btn-round:hover {
  background-color: var(--color-white);
  color: var(--color-dark);
}
.bg-theme p, .bg-theme blockquote {
  color: var(--color-white);
}
.bg-theme h1, .bg-theme h2, .bg-theme h4, .bg-theme h5 {
  color: var(--color-white);
}
.bg-theme a:hover {
  color: var(--color-dark);
}
.bg-theme div {
  color: var(--color-white);
}

.bg-subtheme {
  background-color: var(--color-subtheme);
  color: var(--color-default);
}
.bg-subtheme a {
  color: var(--color-theme);
}
.bg-subtheme h3, .bg-subtheme h6 {
  color: var(--color-dark);
}
.bg-subtheme .btn-dark {
  color: var(--color-white);
}
.bg-subtheme .btn-theme {
  color: var(--color-white);
}
.bg-subtheme .btn-theme:hover {
  background-color: var(--color-dark);
}
.bg-subtheme .btn-subtheme {
  background-color: var(--color-default);
  color: var(--color-white);
}
.bg-subtheme .btn-subtheme:hover {
  background-color: var(--color-dark);
}
.bg-subtheme .btn-round {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.bg-subtheme .btn-round:hover {
  background-color: var(--color-theme);
  color: var(--color-white);
}

.bg-accent {
  background-color: var(--color-accent);
}
.bg-accent .btn-round {
  color: var(--color-white);
}
.bg-accent .btn-round:hover {
  background-color: var(--color-dark);
  color: var(--color-white);
}
.bg-accent a {
  color: var(--color-dark);
}
.bg-accent a:hover {
  color: var(--color-dark);
}
.bg-accent .btn-dark, .bg-accent .btn-theme {
  color: var(--color-white);
}
.bg-accent .btn-dark:hover {
  color: var(--color-white);
}
.bg-accent .btn-subtheme:hover {
  color: var(--color-white);
}
.bg-accent padding, .bg-accent blockquote {
  color: var(--color-theme);
}
.bg-accent h3, .bg-accent h6 {
  color: var(--color-dark);
}

.bg-gray {
  background-color: var(--color-gray);
}

.bg-dark {
  background-color: var(--color-dark);
}
.bg-dark .btn-dark {
  border: solid var(--color-theme) 1px;
  color: var(--color-white);
}
.bg-dark p {
  color: var(--color-theme);
}
.bg-dark blockquote {
  color: var(--color-subtheme);
}
.bg-dark a {
  color: var(--color-subtheme);
}

.bg-light {
  background-color: var(--color-white);
}

#topbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#topbar .container .address {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 12px !important;
  color: var(--color-white);
  padding: 0.5rem;
}
#topbar .container .social-media {
  display: flex;
}
#topbar .container .social-media .facebook, #topbar .container .social-media .linkedin, #topbar .container .social-media .twitter {
  padding: 0.8rem;
  color: var(--color-gray);
}
#topbar .container .social-media .facebook:hover, #topbar .container .social-media .linkedin:hover, #topbar .container .social-media .twitter:hover {
  color: var(--color-subtheme);
}
#topbar .container .social-media .facebook {
  border-left: solid var(--color-gray) 0.1px;
  border-right: solid var(--color-gray) 0.1px;
}
#topbar .container .social-media .linkedin {
  border-left: solid var(--color-gray) 0.1px;
  border-right: solid var(--color-gray) 0.1px;
}

header {
  border-bottom: solid var(--color-default) 1px;
  padding-bottom: 0.5rem;
}
header .container {
  display: flex;
  gap: 2.5rem;
  margin-top: 0.5rem;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1024px) {
  header .container {
    justify-content: space-between;
  }
}
header .container .navbar {
  display: none;
}
@media (min-width: 1024px) {
  header .container .navbar {
    display: flex;
  }
}
@media (min-width: 1024px) {
  header .container .navbar .nav-menu {
    display: flex;
    gap: 3rem;
  }
}
header .container .btn-round {
  /*display: flex;*/
}
@media (min-width: 1024px) {
  header .container .btn-round {
    display: none;
  }
}

.hide-breacrumb-img {
  display: none !important;
}

.breadcrumb-section {
  display: block;
  background-color: var(--color-gray);
  position: relative;
  height: 100px;
}
@media (min-width: 1024px) {
  .breadcrumb-section {
    height: 200px;
  }
}
.breadcrumb-section .breadcrumb-background-1, .breadcrumb-section .breadcrumb-background-2 {
  position: absolute;
  z-index: 0;
}
.breadcrumb-section .breadcrumb-background-1 {
  display: none;
}
@media (min-width: 1024px) {
  .breadcrumb-section .breadcrumb-background-1 {
    display: block;
    bottom: 0;
    left: 0;
  }
}
.breadcrumb-section .breadcrumb-background-2 {
  top: 0rem;
  right: 0;
}
.breadcrumb-section .container {
  position: relative;
  z-index: 1;
  height: 100%;
}
.breadcrumb-section .container .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
}
.breadcrumb-section .container .content h1 {
  margin: 0;
}
.breadcrumb-section .container .content p {
  margin: 0;
}
.breadcrumb-section .container .content p a {
  z-index: 2;
  position: relative;
}

#footer-banner {
  background-color: var(--color-gray);
  z-index: 1;
}
#footer-banner .container {
  position: relative;
}
@media (min-width: 1024px) {
  #footer-banner .container .content {
    display: flex;
    align-content: center;
    justify-content: space-between;
  }
}
#footer-banner .container .content .banner-dot-container {
  display: none;
}
@media (min-width: 1024px) {
  #footer-banner .container .content .banner-dot-container {
    display: flex;
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 2rem;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  #footer-banner .container .content .banner-dot-container img {
    width: 80%;
  }
}
@media (min-width: 1024px) and (min-width: 1200px) {
  #footer-banner .container .content .banner-dot-container img {
    width: 90%;
  }
}
#footer-banner .container .content .banner-guy-container {
  display: none;
}
@media (min-width: 1024px) {
  #footer-banner .container .content .banner-guy-container {
    display: flex;
  }
}
@media (min-width: 1024px) and (min-width: 1024px) {
  #footer-banner .container .content .banner-guy-container img {
    margin-top: 2rem;
    width: 82%;
  }
}
@media (min-width: 1024px) and (min-width: 1200px) {
  #footer-banner .container .content .banner-guy-container img {
    width: 90%;
  }
}
#footer-banner .container .content .onatrix-info-container {
  /*border: solid red 1px;*/
  margin: 2rem 0;
  display: grid;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
@media (min-width: 1024px) {
  #footer-banner .container .content .onatrix-info-container {
    justify-content: center;
    align-content: center;
    width: 35%;
  }
}
#footer-banner .container .content .onatrix-info-container h2 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 42px !important;
  text-align: center;
}
@media (min-width: 1024px) {
  #footer-banner .container .content .onatrix-info-container h2 {
    text-align: left;
  }
}
#footer-banner .container .content .onatrix-info-container .office-location, #footer-banner .container .content .onatrix-info-container .office-phone, #footer-banner .container .content .onatrix-info-container .office-email {
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1024px) {
  #footer-banner .container .content .onatrix-info-container .office-location, #footer-banner .container .content .onatrix-info-container .office-phone, #footer-banner .container .content .onatrix-info-container .office-email {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    text-align: left;
  }
}
#footer-banner .container .content .onatrix-info-container .office-location p, #footer-banner .container .content .onatrix-info-container .office-phone p, #footer-banner .container .content .onatrix-info-container .office-email p {
  margin: 0;
  padding: 0;
}
#footer-banner .container .content .onatrix-info-container .office-location p i, #footer-banner .container .content .onatrix-info-container .office-phone p i, #footer-banner .container .content .onatrix-info-container .office-email p i {
  font-size: 1.1rem;
  margin-right: 0.3rem;
}
#footer-banner .container .content .onatrix-info-container .office-location .location-name, #footer-banner .container .content .onatrix-info-container .office-location .phone-number, #footer-banner .container .content .onatrix-info-container .office-location .email, #footer-banner .container .content .onatrix-info-container .office-phone .location-name, #footer-banner .container .content .onatrix-info-container .office-phone .phone-number, #footer-banner .container .content .onatrix-info-container .office-phone .email, #footer-banner .container .content .onatrix-info-container .office-email .location-name, #footer-banner .container .content .onatrix-info-container .office-email .phone-number, #footer-banner .container .content .onatrix-info-container .office-email .email {
  margin-left: 1.4rem;
}
#footer-banner .container .content .onatrix-info-container .office-location .phone-number, #footer-banner .container .content .onatrix-info-container .office-location .email, #footer-banner .container .content .onatrix-info-container .office-phone .phone-number, #footer-banner .container .content .onatrix-info-container .office-phone .email, #footer-banner .container .content .onatrix-info-container .office-email .phone-number, #footer-banner .container .content .onatrix-info-container .office-email .email {
  font-style: italic;
}

footer .container .copy-right p {
  padding-top: 1rem;
}

#hero-slider {
  /*    .bg-gray {
      }*/
}
#hero-slider .background-image {
  display: none;
  width: 100%;
  height: 100%;
}
@media (min-width: 1024px) {
  #hero-slider .background-image {
    display: flex;
    position: absolute;
    margin: 0 auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
#hero-slider .container {
  overflow: hidden;
}
@media (min-width: 1024px) {
  #hero-slider .container h1 {
    font-weight: 400;
    /*color: var(--color-theme);*/
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    font-size: 48px !important;
  }
}
@media (min-width: 1200px) {
  #hero-slider .container h1 {
    font-weight: 400;
    /*color: var(--color-theme);*/
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    font-size: 56px !important;
  }
}
@media (min-width: 1400px) {
  #hero-slider .container h1 {
    font-weight: 400;
    /*color: var(--color-theme);*/
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    font-size: 64px !important;
  }
}
@media (min-width: 768px) {
  #hero-slider .container .btn-theme {
    width: 80%;
  }
}
@media (min-width: 1024px) {
  #hero-slider .container .btn-theme {
    width: 40%;
  }
}

#home-about-us .container blockquote {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
}

#our-services .container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
@media (min-width: 768px) {
  #our-services .container {
    width: 80%;
  }
}
#our-services .container .clickable-dynamic-container {
  display: flex;
  padding: 1rem;
}
@media (min-width: 768px) {
  #our-services .container .clickable-dynamic-container {
    width: 70%;
    margin: 0 auto;
  }
}
@media (min-width: 1024px) {
  #our-services .container .clickable-dynamic-container {
    width: 100%;
  }
}
#our-services .container .clickable-dynamic-container .content {
  background-color: var(--color-white);
  border: solid var(--color-white) 1px;
  text-align: left;
}
#our-services .container .clickable-dynamic-container .content:hover img {
  transform: rotateZ(5deg);
  filter: brightness(0.7);
}
#our-services .container .clickable-dynamic-container .content h5 {
  margin-left: 1rem;
}
@media (min-width: 1024px) {
  #our-services .container .clickable-dynamic-container .content h5 {
    font-weight: 400;
    /*color: var(--color-theme);*/
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    font-size: 16px !important;
    margin: 0.5rem;
  }
}
@media (min-width: 1200px) {
  #our-services .container .clickable-dynamic-container .content h5 {
    font-weight: 400;
    /*color: var(--color-theme);*/
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-weight: 700 !important;
    font-size: 20px !important;
  }
}
#our-services .container .clickable-dynamic-container .content p {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 14px !important;
  margin-left: 1rem;
  margin-top: 1rem;
  width: 90%;
}
#our-services .container .clickable-dynamic-container .content img {
  width: 100%;
  transition: transform 0.3s ease, filter 0.3s ease;
}

#our-story .background-image {
  width: 80%;
}
@media (min-width: 1024px) {
  #our-story .background-image {
    width: 70%;
  }
}
@media (min-width: 1400px) {
  #our-story .background-image {
    width: 50%;
  }
}
#our-story .container {
  position: relative;
}
#our-story .container h2 .split-heading-color {
  text-shadow: 0.4px 0.4px #C0A78A, -0.4px -0.4px 0 #C0A78A, 0.4px -0.4px 0 #C0A78A, -0.4px 0.4px 0 #C0A78A;
}
#our-story .container p {
  text-align: center;
  margin: 0;
}
#our-story .container .btn-theme {
  margin-bottom: 2rem;
}
@media (min-width: 768px) {
  #our-story .container .btn-theme {
    width: 40%;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
@media (min-width: 1024px) {
  #our-story .container .btn-theme {
    width: 15%;
    padding: 0.8rem;
    margin-top: 1rem;
  }
}
#our-story .container img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  background-color: white;
}

#success-stories .background-image {
  /*position: relative;*/
  width: 55%;
  margin-top: 6rem;
}
#success-stories .container h3 {
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700 !important;
  font-size: 48px !important;
  margin-top: 2rem;
}
#success-stories .container img {
  width: 70%;
}

#image-slider-partner-brands .container .image-slider .image-container {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  gap: 3rem;
}
@media (min-width: 768px) {
  #image-slider-partner-brands .container .image-slider .image-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
  }
}

#about-us .container {
  display: flex;
}
#about-us .container .content .hide-on-mobile {
  display: none;
}
@media (min-width: 1200px) {
  #about-us .container .content .hide-on-mobile {
    display: block;
  }
}
#about-us .container .content p {
  text-align: left !important;
}
@media (min-width: 1200px) {
  #about-us .container .content p {
    font-size: 15px !important;
  }
}
#about-us .container .content .tina-fox {
  font-style: italic;
  font-weight: 400;
  /*color: var(--color-theme);*/
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-size: 12px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  #about-us .container .content .tina-fox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    font-weight: 400;
    /*color: var(--color-theme);*/
    font-family: "Poppins", sans-serif;
    font-size: 16px;
    font-size: 14px !important;
  }
}
#about-us .container .image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (min-width: 1200px) {
  #about-us .container .image-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
}
#about-us .container .image-container img {
  /*justify-content: center;*/
  width: 40%;
  /*                @include md {
                      width: 100%;
                  }*/
}
@media (min-width: 1024px) {
  #about-us .container .image-container img {
    width: 90%;
  }
}
@media (min-width: 1200px) {
  #about-us .container .image-container img {
    width: 82%;
  }
}
#about-us .container p {
  /*@include text-xxs;
  @include center-content;*/
}

#reviews .container {
  /*        .image-container {
      @include center-content;

      @include lg {
          @include grid;
      }

      @include xxl {
          @include lg {
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
          }
      }
  }*/
}
#reviews .container .img {
  display: none;
}
@media (min-width: 1024px) {
  #reviews .container .img {
    display: flex;
    /*height: 90%;*/
    /*width: 99%;*/
    object-fit: cover;
    /*object-position: center;*/
    max-height: 25rem;
  }
}
#reviews .container p {
  font-style: italic;
}
@media (min-width: 1024px) {
  #reviews .container p {
    width: 95%;
  }
}
@media (min-width: 1200px) {
  #reviews .container p {
    width: 90%;
  }
}
@media (min-width: 1400px) {
  #reviews .container p {
    width: 80%;
  }
}
#reviews .container .content {
  display: flex;
  flex-direction: column;
}
#reviews .container .content .img-icon {
  /*width: 50%;*/
  margin-left: 0.2rem;
}

#our-experts {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#our-experts .container .content .experts {
  display: grid;
  gap: 1rem;
  /*border: solid red 1px;*/
}
@media (min-width: 768px) {
  #our-experts .container .content .experts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (min-width: 1024px) {
  #our-experts .container .content .experts {
    text-align: left;
  }
}
@media (min-width: 768px) {
  #our-experts .container .content .experts .expert-container {
    border: solid var(--color-gray) 1px;
  }
}
#our-experts .container .content .experts .expert-container p {
  margin-bottom: 0;
}
#our-experts .container .content .experts .expert-container h4 {
  margin-top: 0.5rem;
}
@media (min-width: 1024px) {
  #our-experts .container .content .experts .expert-container h4 {
    margin-left: 1.5rem;
  }
}
#our-experts .container .content .meet-more-experts {
  display: grid;
  margin-top: 4rem;
}
@media (min-width: 768px) {
  #our-experts .container .content .meet-more-experts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
  }
}
@media (min-width: 768px) {
  #our-experts .container .content .meet-more-experts .our-other-experts {
    border: solid var(--color-gray) 1px;
  }
}
.umb-block-grid__layout-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--grid-columns, 1), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  column-gap: var(--umb-block-grid--column-gap, 0);
  row-gap: var(--umb-block-grid--row-gap, 0);
}

.umb-block-grid__layout-item {
  position: relative;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--item-column-span, 1) * 3, var(--umb-block-grid--grid-columns));
  grid-row: span var(--umb-block-grid--item-row-span, 1);
}

.umb-block-grid__area-container,
.umb-block-grid__block--view::part(area-container) {
  position: relative;
  display: grid;
  grid-template-columns: repeat(var(--umb-block-grid--area-grid-columns, var(--umb-block-grid--grid-columns, 1)), minmax(0, 1fr));
  grid-auto-flow: row;
  grid-auto-rows: minmax(0, min-content);
  column-gap: var(--umb-block-grid--areas-column-gap, 0);
  row-gap: var(--umb-block-grid--areas-row-gap, 0);
}

.umb-block-grid__area {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* For small devices we scale columnSpan by three, to make everything bigger than 1/3 take full width: */
  grid-column-end: span min(var(--umb-block-grid--area-column-span, 1) * 3, var(--umb-block-grid--area-grid-columns));
  grid-row: span var(--umb-block-grid--area-row-span, 1);
}

@media (min-width: 1024px) {
  .umb-block-grid__layout-item {
    grid-column-end: span min(var(--umb-block-grid--item-column-span, 1), var(--umb-block-grid--grid-columns));
  }
  .umb-block-grid__area {
    grid-column-end: span min(var(--umb-block-grid--area-column-span, 1), var(--umb-block-grid--area-grid-columns));
  }
}
