#our-projects {
    margin: 3rem 0;

    .container {
        display: flex;
        flex-direction: column;

        @include xl {
            flex-direction: row;
        }

        .projects {
            display: grid;
            gap: 2rem;

            @include xl {
                width: 80%;
                border-right: solid var(--color-gray) 2px;
                padding-right: 2rem;
                display: flex;
                flex-direction: column;
            }


            .project-item {
                display: grid;
                border-bottom: solid var(--color-gray) 2px;
                text-align: center;


                @include md {
                    grid-template-columns: 1fr 1fr;
                    gap: 1rem;
                    text-align: left;
                }

                @include lg {
                    /*border: solid red 1px;*/
                }

                .thumbnail-image {
                    /*border: solid red 1px;*/

                    img {
                        width: 80%;

                        @include md {
                            width: 95%;
                            margin-bottom: 2rem;
                        }

                        @include lg {
                            object-fit: cover;
                            width: 100%;
                        }

                        @include xxl {
                            /*object-fit: cover;*/
                            /*width: 90%;*/
                            /*margin-bottom: 2rem;*/
                        }
                    }
                }

                .thumbnail-content {
                    /*border: solid red 1px;*/
                    text-align: center;

                    @include md {
                        text-align: left;
                    }

                    @include lg {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }

                    .thumbnail-content-text {
                        @include lg {
                            /*                            display: flex;
                            flex-direction:column;
                            justify-content:space-evenly;*/
                        }

                        h4 {
                        }

                        .date {
                        }

                        .thumbnail-text {
                            width: 80%;
                            margin: 0 auto;
                            margin-bottom: 1rem;

                            @include md {
                                width: 100%;
                            }

                            @include xxl {
                                width: 95%;
                                margin: 0;
                            }
                        }
                    }

                    .read-more-link {
                        a {

                            &:hover {
                            }

                            .read-more {
                                display: inline-flex;
                                justify-content: center;
                                align-items: center;
                                gap: .5rem;
                                font-weight: 600;

                                &:hover {
                                    i {
                                        transition: ease-in-out .2s;
                                        margin-left: .5rem;
                                    }
                                }

                                i {
                                    color: var(--color-subtheme);
                                }
                            }
                        }
                    }
                }
            }
        }

        .aside-content {
            @include lg {
                /*width: 40%;*/
            }

            @include xl {
                margin-left: 2rem;
                width: 35%;
            }

            @include xxl {
                width: 25%;
            }

            .aside-form {
                @include md {
                    width: 60%;
                    margin: 0 auto;
                    margin-top: 2rem;
                }

                @include xl {
                    width: 100%;
                }

                h4 {
                }

                p {
                    width: 90%;

                    @include xxl {
                        /*@include text-xs;*/
                        width: 95%;
                        font-size: .8rem;
                    }
                }
            }
        }
    }
}
