#project-details {
    .container {
        display: flex;
        flex-direction: column-reverse;

        @include xl {
            flex-direction: row-reverse;
            margin-top: 3rem;
        }


        .content {
            padding: 1rem;

            p {
                width: 95%;
            }

            h4 {
                width: 95%;
            }

            .img-text {
                @include lg {
                    /*                    margin-left: 24rem;
                    padding: .2rem;
                    width: 55%;*/
                }
            }

            .mid-img {
                display: none;

                @include lg {
                    display: flex;
                    width: 50%;
                    margin-right: 2rem;
                }
            }

            img {
                width: 100%;

                @include lg {
                    width: 95%;
                }
            }
        }

        .aside-content {
            @include xl {
                width: 90%;
                border-left: solid var(--color-gray) 1px;
                padding-left: 1.5rem;
            }


            aside {
                display: flex;
                flex-direction: column;

                .tags {
                    @include xl {
                        width: 100%;
                    }

                    @include xxl {
                        width: 83%;
                    }
                }

                .aside-form {
                    background-color: var(--color-theme);
                    margin: 0 auto;
                    margin-bottom: 2rem;
                    margin-top: 2rem;

                    @include lg {
                        width: 40%;
                    }

                    @include xl {
                        margin-top: 0;
                        width: 100%;
                    }

                    form {
                        input {
                            @include xxl {
                                border-radius: .4rem;
                            }
                        }
                    }

                    .form-text {
                        @include xxl {
                            margin-left: .5rem;
                        }

                        p {
                            width: 90%;
                            color: var(--color-white);
                        }
                    }

                    .form-input-group {
                        @include xxl {
                            margin-left: 1.3rem;
                        }
                    }

                    .form-background-image {
                        @include xxl {
                            position: absolute;
                            bottom: 0;
                            right: -2.6rem;
                        }
                    }
                }

                h5 {
                    color: var(--color-theme);
                    margin-bottom: 1.5rem;
                    text-align: center;

                    @include md {
                        text-align: left;
                    }
                }

                .recent-projects {
                    background-color: var(--color-white);
                    margin: 0 auto;

                    @include md {
                        display: grid;
                        grid-template-columns: 1fr 1fr;
                        grid-gap: 2rem;
                    }

                    @include xl {
                        grid-template-columns: 1fr;
                    }


                    .project-item {
                        display: flex;

                        @include xl {
                            margin-bottom: 1rem;
                            border-bottom: solid black 1px;
                        }


                        .link-container {
                            display: grid;

                            @include xl {
                                grid-template-columns: 1fr 1fr;
                                text-decoration: none;
                            }

                            &:hover {
                                text-decoration: underline;

                                img {
                                    transform: scale(1.2);
                                    transition: ease-in-out .2s;
                                }
                            }

                            .thumbnail-image {
                                overflow: hidden;

                                img {
                                    object-fit: cover;
                                    max-height: 220px;

                                    @include md {
                                        max-height: 200px;
                                    }

                                    @include xl {
                                        width: 85%;
                                        margin: 0;
                                        padding: 0;
                                    }
                                }
                            }

                            .thumbnail-content {
                                .thumbnail-content-text {
                                    h4 {
                                        @include text-m;
                                        color: var(--color-dark);
                                    }

                                    .date {
                                        color: var(--color-dark);
                                        @include text-s;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}