body {
    color: var(--color-default);
}

span {
    color: var(--color-subtheme);
}

.form-success {
    background-color: var(--color-success);
    color: var(--color-dark) !important;
    @include text-s;
    text-align: center;
    padding: 1rem;
    border-radius: .5rem;
    font-weight: 500;
}

.form-error {
    color: var(--color-danger-dark);
    @include text-s;
}