a {
    color: var(--color-theme);

    &:hover {
        color: var(--color-subtheme) !important;
    }
}

.nav-link {
    color: var(--color-theme);
}

.active {
    color: var(--color-subtheme) !important;
}