@mixin btn {
    border-radius: 4px;
    text-align: center;
    font-size: 14px;
    padding: 8px 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-theme, .btn-subtheme, .btn-dark {
    @include btn;
    border: none;


    &:hover {
        text-decoration: none;
    }
}

.btn-round {
    @include btn;
    border-radius: 50%;
    border: none;
    display: flex;
    padding: 1rem;
    &:hover {
        text-decoration: none;
        transition: ease-in-out .2s;
    }
}
