@mixin center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@mixin flex {
    display: flex;
    align-items: center;
}

@mixin grid {
    display: grid;
    grid-template-columns: 1fr;
}

@mixin section-spacing-top {
    padding-top: 2rem;

    @include md {
    }

    @include lg {
        padding-top: 2rem;
    }

    @include xl {
        padding-top: 3rem;
    }

    @include xxl {
        padding-top: 4rem;
    }
}

@mixin section-spacing-bottom {
    padding-bottom: 2rem;

    @include md {
        padding-bottom: 3rem;
    }

    @include lg {
        padding-bottom: 4rem;
    }
}

@mixin spacing-top {
    padding-top: 1rem;
    @include md {
        padding-top: 2rem;
    }
}

@mixin spacing-bottom {
    padding-bottom: 1rem;

    @include md {
    }

    @include lg {
    }
}

@mixin background-image {
    display: none;

    @include lg {
        display: flex;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
    }
}



@mixin custom-spacing-classes($direction, $maxSpacingValue) {
    @for $spacingValue from 1 through $maxSpacingValue {
        .custom-spacing-#{$direction}-#{$spacingValue} {
            padding-#{$direction}: #{$spacingValue}rem;
        }
    }
}

@include custom-spacing-classes("top", 10);
@include custom-spacing-classes("bottom", 10);
