
#our-services {
    margin: 2rem 0;

    .container {
        display: flex;
        flex-direction: column;

        .headline-theme {
            margin: 1rem 0;


            @include md {
                max-width: 600px;
                margin: 0 auto;
            }

            @include lg {
                max-width: 500px;
            }

            @include xxl {
                max-width: 470px;
            }

            h6 {
                margin-bottom: .5rem;
            }
        }

        .services {
            display: grid;
            gap: 1rem;

            @include md {
                margin: 2rem 0;
                grid-template-columns: 1fr 1fr;
            }

            @include xl {
                grid-template-columns: 1fr 1fr 1fr;
            }



            a {
                text-decoration: none;

                &:hover {
                    img {
                        transform: rotate(1deg) scale(1.1);
                        transition: ease-in-out .2s;
                        filter: brightness(.7);
                    }
                }

                .service-item {
                    border: solid var(--color-gray-200) 2px;
                    overflow: hidden;
                    /*border: solid red 1px;*/

                    &:hover {
                        background-color: var(--color-accent);
                        transition: ease-in-out .2s;

                        p {
                            color: var(--color-dark);
                            text-decoration: underline;
                            transition: ease-in-out .2s;
                        }
                    }

                    .thumbnail-header {

                        h4 {
                            margin-top: 1rem;
                            margin-left: 1rem;
                            margin-bottom: 1rem;

                            @include md {
                                margin-bottom: 1rem;
                                /*@include h4;*/
                            }

                            @include xl {
                                /*margin: 1.5rem 2rem;*/
                            }
                        }
                    }

                    .thumbnail-image {
                        img {
                            object-fit: cover;
                            width: 100%;
                        }
                    }

                    .thumbnail-footer {
                        p {
                            margin-top: 1rem;
                            margin-left: 1rem;

                            @include lg {
                            }

                            @include xl {
                            }
                        }
                    }
                }
            }
        }
    }
}

@include pagination;