#service-details {
    margin: 2rem 0;

    .container {
        display: flex;
        flex-direction: column-reverse;

        @include xl {
            flex-direction: row;
        }


        .aside-content {
            margin-top: 2rem;

            @include md {
                width: 80%;
                margin: 0 auto;
                margin-top: 3rem;
            }

            @include lg {
            }

            @include lg {
                width: 60%;
            }

            @include xl {
                display: flex;
                flex-direction: column;
                margin-right: 2rem;
                max-width: 300px;
                margin-top: 0;
            }

            img {
                width: 100%;
            }

            p {
                @include text-xs;

                @include xxl {
                    @include text-s;
                }
            }
        }

        .content {
            display: flex;
            flex-direction: column;

            @include xl {
                padding-left: 3rem;
                border-left: solid var(--color-gray) 1px;
            }

            img {
                width: 100%;
                display: flex;
                justify-content: center;

                @include md {
                    width: 100%;
                }
            }
        }
    }
}
