#footer-banner {
    .container {
        .content {
            .banner-dot-container {
                z-index: 0;
            }

            .banner-guy-container {
                img {
                    z-index: 1;
                }
            }
        }
    }
}

.google-maps-location {
    display: none;
    z-index: -1;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;

    @include md {
        display: relative;
        overflow: hidden;
        display: flex;
        padding-bottom: 7rem;
        width: 100%;
    }



    iframe {
        width: 100%;
        height: 500px;
        position: absolute;

        @include md {
            height: 550px;
        }

        @include lg {
            height: 600px;
        }

        @include xl {
            height: 550px;
        }

        @include xl {
            height: 650px;
        }
    }
}


#contact {
    padding-bottom: 3rem;

    .container {
        box-shadow: 10px 10px 20px 10px rgba(0, 0, 0, 0.3);

        @include md {
            position: relative;
            z-index: 1;
            background-color: var(--color-white);
            width: 60%;
            padding: 2rem;

            @include lg {
                padding: 4rem;
            }

            @include xxl {
                width: 50%;
            }
        }

        .form-success {
            display: flex;
            justify-content: center;
            align-items: center;

            @include md {
                min-height: 400px;
                text-align: center;
            }
        }

        form {
            background: var(--color-white);
            margin-top: 1rem;
            display: grid;
            grid-gap: 1rem;

            #callback-form {
                padding-bottom: 1rem;

                @include md {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 1rem;
                    justify-content: center;
                }

                .form-headers {
                    display: grid;
                    margin: 0 auto;
                    text-align: center;

                    @include xl {
                        width: 70%;
                    }

                    h6, h2 {
                        margin-bottom: 1rem;
                    }

                    h2 {
                        @include xl {
                            @include d6;
                        }
                    }

                    p {
                        font-size: 13px;

                        @include xl {
                            font-style: italic;
                            width: 85%;
                            margin: 0 auto;
                        }
                    }
                }

                .form-input-group {
                    position: relative;
                    margin-bottom: 1rem;

                    @include md {
                        flex: 1 1 calc(50% - 20px);
                    }

                    .form-input {
                        padding: 1rem;
                        width: 100%;
                        border: solid var(--color-gray) 1px;
                        font-style: italic;
                        padding-left: .5rem;
                        border-radius: .2rem;
                    }

                    #selectedOption {
                        color: var(--color-gray-600);
                        font-style: normal;
                    }
                }

                button {
                    padding: .8rem 2rem;
                    background-color: var(--color-theme);
                    color: var(--color-white);
                    width: 100%;
                    margin-top: 1rem;

                    @include md {
                        width: 30%;
                    }

                    @include lg {
                        width: 25%;
                    }
                }
            }
        }
    }
}