@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;
@{
	Layout = "mainLayout.cshtml";

	ViewBag.Title = Model?.Value("pageTitle") ?? null;
}


@{



	var selection = Umbraco.Content(Guid.Parse("dd3cbc75-a2c5-41a0-83d6-b8a267c25967"))?
	.ChildrenOfType("serviceItemTemplate")?
	.Where(x => x.IsVisible());
}


<section id="our-services">
	<div class="container">



		@if(!string.IsNullOrEmpty(Model?.Value("customHeadline")?.ToString()))
		{
			<div class="headline-theme">
				<h2>@Model.Value("customHeadline")</h2>
			</div>
		}
		<div class="services">
			@foreach(var service in selection)
			{
				var thumbnailImage = service?.Value<IPublishedContent>("thumbnailImage")?.Url() ?? null;

				var thumbnailText = service?.Value<string>("thumbnailText") ?? null;

				<a href="@service?.Url()">
					<div class="service-item">
						<div class="thumbnail-header">
							<h4>@service?.Name</h4>
						</div>
						<div class="thumbnail-image">
							<img src="@thumbnailImage" alt="@service?.Name" />
						</div>
						<div class="thumbnail-footer">
							<p>@thumbnailText</p>
						</div>
					</div>
				</a>
			}
		</div>
	</div>
</section>


