/*.headline-spacing-top {
    padding-top: .5rem;

    @include lg {
        padding-top: 1rem;
    }
}

.headline-spacing-bottom {
    

    @include lg {
        padding-bottom: 1rem;
    }
}*/

.section-spacing-top {
    @include section-spacing-top;
}
.section-spacing-bottom {
    @include section-spacing-bottom;
}

.spacing-top {
    @include spacing-top;
}

.spacing-bottom {
    @include spacing-bottom;
}


.background-image {
    @include background-image;
}

/*.custom-spacing-top-1 {
    padding-top: 1rem;
} 
.custom-spacing-top-2 {
    padding-top: 2rem;
} 
.custom-spacing-top-3 {
    padding-top: 3rem;
} 
.custom-spacing-top-4 {
    padding-top: 4rem;
} 
.custom-spacing-top-5 {
    padding-top: 5rem;
} 
.custom-spacing-top-6 {
    padding-top: 6rem;
} 
.custom-spacing-top-7 {
    padding-top: 7rem;
} 
.custom-spacing-top-8 {
    padding-top: 8rem;
} 
.custom-spacing-top-9 {
    padding-top: 9rem;
} 
.custom-spacing-top-10 {
    padding-top: 10rem;
}



.custom-spacing-bottom-1 {
    @include generate-spacing-classes("bottom", 1);
}

.custom-spacing-bottom-2 {
    @include generate-spacing-classes("bottom", 2);
}

.custom-spacing-bottom-3 {
    @include generate-spacing-classes("bottom", 3);
}

.custom-spacing-bottom-4 {
    @include generate-spacing-classes("bottom", 4);
}

.custom-spacing-bottom-5 {
    @include generate-spacing-classes("bottom", 5);
}

.custom-spacing-bottom-6 {
    @include generate-spacing-classes("bottom", 6);
}

.custom-spacing-bottom-7 {
    @include generate-spacing-classes("bottom", 7);
}

.custom-spacing-bottom-8 {
    @include generate-spacing-classes("bottom", 8);
}

.custom-spacing-bottom-9 {
    @include generate-spacing-classes("bottom", 9);
}

.custom-spacing-bottom-10 {
    @include generate-spacing-classes("bottom", 10);
} */
    