.nav-link {
    @include text-nav;
    color: var(--color-theme);
    display: inline-block;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    &:hover {
        transition: .25s ease-in-out;
        /*color: var(--color-subtheme);*/
    }
}




