a {
    @include standard-text;
    display: inline-block;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}



.active {
    color: var(--color-subtheme) !important;  
}
