#about-us {
    .container {
        display: flex;

        blockquote {
        }

        .content {
            .hide-on-mobile {
                display: none;

                @include xl {
                    display: block;
                }
            }

            p {
                text-align: left !important;

                @include xl {
                    font-size: 15px !important;
                }
            }

            .tina-fox {
                font-style: italic;
                @include text-xs;
                @include center-content;

                @include xl {
                    @include left-content;
                    @include text-s;
                }
            }
        }

        .image-container {
            @include center-content;

            @include xl {
                @include left-content;
            }

            img {
                /*justify-content: center;*/
                width: 40%;

/*                @include md {
                    width: 100%;
                }*/

                @include lg {
                    width: 90%;
                }

                @include xl {
                    width: 82%;
                }
            }
        }

        p {
            /*@include text-xxs;
            @include center-content;*/
        }
    }
}
