/*#our-experts {
    @include center-content;

    .container {
        .content {
            .experts {
                display: grid;

                @include md {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                @include lg {
                    text-align: left;
                }

                gap: 1rem;*/
                /*border: solid red 1px;*/
                /*.expert-container {
                    @include md {
                        border: solid var(--color-gray) 1px;
                    }

                    p {
                        margin-bottom: 0;

                        img {
                        }
                    }

                    h4 {
                        margin-top: .5rem;

                        @include lg {
                            margin-left: 1.5rem;
                        }
                    }
                }
            }

            .meet-more-experts {
                display: grid;
                margin-top: 4rem;

                @include md {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 1.2rem;
                }


                .our-other-experts {
                    @include md {
                        border: solid var(--color-gray) 1px;
                    }


                    p {
                        img {
                        }
                    }

                    h4 {
                    }

                    p {
                    }
                }
            }
        }
    }
}*/


#our-experts {
    .container {

        h6 {
            text-align: center;
        }

        h2 {
            text-align: center;
        }

        .image-slider {
            .image-container {

                @include md {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                }

                .image-card {
                    border: solid #9C9EA6 1px;
                    margin-bottom: 2rem;

                    img {
                        width: 100%;
                    }

                    h4 {
                        margin-top: 1rem;
                        margin-left: 1rem;
                    }

                    p {
                        @include text-s;
                        margin-left: 1rem;
                        color: #9C9EA6;
                    }
                }
            }
        }
    }
}