#reviews {
    .container {
        .content {
            @include lg {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 2rem;
            }

            .review-content {
                @include xl {
                    width: 90%;
                }

                @include xxl {
                    width: 80%;
                }

                h2 {
                    margin-bottom: 1.5rem;
                }

                .stars {
                    font-weight: 900;
                }

                .kevin-gardner {
                    @include md {
                        @include text-xs;
                        font-weight: 500;
                    }
                }
            }

            .review-image-container {
                display: none;

                @include md {
                    display: block;
                }

                img {
                    width: 100%;
                }
            }
        }
    }
}
