#our-story {
    .background-image {
        width: 80%;

        @include lg {
            width: 70%;
        }

        @include xxl {
            width: 50%;
        }
    }

    .container {
        position: relative;

        @include md {
        }

        h2 {

            .split-heading-color {
                text-shadow: .4px .4px #C0A78A, -.4px -.4px 0 #C0A78A, .4px -.4px 0 #C0A78A, -.4px .4px 0 #C0A78A;
            }
        }

        p {
            text-align: center;
            margin: 0;
        }

        .btn-theme {
            margin-bottom: 2rem;

            @include md {
                width: 40%;
                margin: 0 auto;
                margin-bottom: 2rem;
            }

            @include lg {
                width: 15%;
                padding: .8rem;
                margin-top: 1rem;
            }
        }

        img {
            object-fit: cover;
            object-position: center;
            width: 100%;
            background-color: white;
        }
    }
}
