#image-slider-partner-brands {
    .container {
        .image-slider {
            .image-container {
                @include flex;
                flex-wrap: wrap;
                justify-content: center;
                align-content: center;
                align-items: center;
                gap: 3rem;

                @include md {
                    @include flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}
