#hero-slider {


    @include md {
    }

    @include lg {
    }

    @include xl {
    }

/*    .bg-gray {
    }*/

    .background-image {
        /*display: block;*/
        /*display: none;*/
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        @include lg {
            /*margin: 0;*/
            position: absolute;
        }

        @include xl {
            /*display: block;*/
            /*position: absolute;*/
        }
    }


    .container {
        overflow: hidden;
        /*        padding-top: 0;
        margin-top: 0;*/

        @include lg {
            /*position: relative;*/
        }




        h1, p, a {
            @include lg {
            }
        }

        h1 {


            @include lg {
                @include d5;
            }

            @include xl {
                @include d4;
                /*margin-top: 2rem;*/
            }

            @include xxl {
                @include d3;
                /*margin-top: 2rem;*/
            }
        }

        p {
            @include lg {
            }
        }

        .btn-theme {
            @include md {
                width: 70%;
            }
        }
    }
}
