#hero-slider {



    .bg-gray {
    }

    .container {
        overflow: hidden;

        .background-image {
            display: none;
            /*            border: solid red 1px;
            width: 100%;
            height: auto;*/

            @include md {
 /*               position: absolute;
                top: 0;*/
            }
        }

        .headline-theme {
            @include h2;
        }
    }
}
