#success-stories {

    .background-image {
        /*position: relative;*/
        width: 55%;
        margin-top: 6rem;

    }

    .container {

        .headline-subtheme {
        }

        h3 {
            @include d5;
            margin-top: 2rem;
        }

        p {
        }

        img {
            width: 70%;
            
        }
    }
}
