@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;

@{
    
}

<div class="form-text">
    <h4>How can we help you?</h4>
    <p>online support 24/7, we are here to help you</p>
</div>
<div class="form-input">
    <input type="email" placeholder="E-mail address" /><i class="fa-regular fa-envelope"></i>
</div>
<div class="form-background-image">
    <img src="/media/4byituoo/mail.svg" alt="" />
</div>
