@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage;
@inject Umbraco.Cms.Web.Common.UmbracoHelper UmbracoHelper;

@{

}

@if(ViewData["success"] == null)
{
	@using (Html.BeginUmbracoForm("HandleServiceFormSubmit", "ServiceDetailsFormSurface", FormMethod.Post))
	{
		<section id="service-details-form">
			<div class="container">
				<div class="form-headers">
					<h5>Have a question?</h5>
				</div>
				<div class="form-row">
					<div class="form-input-group">
						<input id="name" class="form-input" name="name" type="text" placeholder="Name" value="@TempData["service_name"]" />
						@if (TempData["service_error_name"] != null && (bool)TempData["service_error_name"]!)
						{
							<span class="form-error">You have to enter a valid name</span>
						}
					</div>

					<div class="form-input-group">
						<input id="email" class="form-input" name="email" type="email" placeholder="E-mail" value="@TempData["email"]" />
						@if (TempData["service_error_email"] != null && (bool)TempData["service_error_email"]!)
						{
							<span class="form-error">You have to enter a valid email</span>
						}
					</div>
				</div>

				<div class="form-input-group">
					<textarea id="message" class="form-input" rows="7" name="message" type="text" placeholder="Question" value="@TempData["service_message"]"></textarea>
					@if (TempData["service_error_message"] != null && (bool)TempData["service_error_message"]!)
					{
						<span class="form-error">You have to enter a question</span>
					}
				</div>

				<button class="btn btn-theme" type="submit">Submit</button>
			</div>
		</section>
	}
}
else
{
	<div class="form-success">@ViewData["service_success"]</div>

}
