.aside-form {
    padding: 2rem 0;
    position: relative;
    margin-top: 2rem;
    border-radius: .2rem;
    display: grid;
/*    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;*/


    .form-text {
        @include grid;
        margin-left: 1rem;
        margin-bottom: 1rem;

        @include xl {
            max-width: 300px;
            margin-left: .8rem;
        }

        @include xxl {
            padding: 0 .8rem;
        }

        h4 {
            margin-bottom: 1rem;
            color: var(--color-accent);

            @include xxl {
                @include h5;
            }
        }
    }

    .form-input-group {
        position: relative;
        width: 90%;
        z-index: 2;
        margin-left: .8rem;

        @include xl {
            @include text-s;
        }

        @include xxl {
            display: flex;
            width: 85%;
            margin-left: 1.5rem;
        }

        input {
            padding: .8rem;
            border: solid var(--color-theme) 1px;
            border-radius: .5rem;
            width: 100%;
            font-style: italic;
            padding-left: 1.5rem;
            position: relative;
            /*z-index: 3;*/
        }

        i {
            position: absolute;
            top: .8rem;
            right: 1rem;
            color: var(--color-theme);
            font-size: 1.5rem;
            /*z-index: 3;*/
        }
    }

    .form-background-image {
        display: flex;
        position: absolute;
        bottom: -1rem;
        right: 0;
        /*width: 60%;*/
        /*z-index: 1;*/
    }
}
