#service-details-form {
    .container {
        display: grid;

        .form-headers {
            h5 {
                margin: 1rem 0;
            }
        }

        .form-row {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-gap: 1rem;
            margin-bottom: 1rem;

            .form-input-group {
                .form-input {
                }
            }
        }

        .form-input-group {
            .textarea {
            }

            .form-input {
                font-style: italic;
                width: 100%;
                padding: .8rem;
                border-radius: .3rem;
                border: solid gray 1px;

                &::placeholder {
                    /*color: gray;*/
                }
            }
        }

        .btn-theme {
            margin: 1rem 0;
            font-weight: 500;
            @include lg {
                width: 20%;
                margin-bottom: 2rem;
            }

            @include xl {
                width: 10%;
                margin-bottom: 3rem;
            }

            @include xl {
                margin-bottom: 3rem;
            }
        }
    }
}
