#topbar {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .address {
            @include text-xs;
            color: var(--color-white);
            padding: .5rem;
        }

        .social-media {
            display: flex;

            .social-media-icons {
                padding: .8rem;
                color: var(--color-gray);
                width: 43px;
                height: 49px;

                &:hover {
                    color: var(--color-subtheme);
                }

                border-left: solid var(--color-white) .1px;

                &:last-child {
                    border-right: solid var(--color-white) .1px;
                }
            }
        }
    }
}
